---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v2/organizations/14418463
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - Bearer dummy access token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 1.0.0
      X-Li-Fabric:
      - prod-lsg1
      X-Li-Pop:
      - prod-tmu1
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - KL6ViYBUnBWAVtwpCSsAAA==
      X-Li-Route-Key:
      - '"b=SB27:g=102:u=173:i=1557212482:t=1557235057:s=AQGYfoLzxc3ug-RjrsjpnrdTsKmuepg5"'
    body:
      encoding: UTF-8
      string: '{"vanityName":"test-app-2","website":{"localized":{"en_US":"http://www.example.com"},"preferredLocale":{"country":"US","language":"en"}},"localizedName":"Test
        App 2","description":{"localized":{"en_US":"test app"},"preferredLocale":{"country":"US","language":"en"}},"groups":[],"versionTag":"2388895306","defaultLocale":{"country":"US","language":"en"},"organizationType":"SELF_EMPLOYED","alternativeNames":[],"specialties":[],"staffCountRange":"SIZE_1","localizedSpecialties":[],"industries":["urn:li:industry:96"],"name":{"localized":{"en_US":"Test
        App 2"},"preferredLocale":{"country":"US","language":"en"}},"locations":[{"address":{"geographicArea":"Tamil
        Nadu","country":"IN","city":"Dindigul","line1":"Karur Road"},"staffCountRange":"SIZE_1","locationType":"HEADQUARTERS"}],"id":14418463,"localizedDescription":"test
        app","$URN":"urn:li:organization:14418463","localizedWebsite":"http://www.example.com"}'
  recorded_at: Tue, 07 May 2019 07:01:22 GMT
recorded_with: VCR 4.0.0
