---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v2/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - Bearer dummy access token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 1.0.0
      X-Li-Fabric:
      - prod-lsg1
      X-Li-Pop:
      - prod-tmu1
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - vldPKfNUnBWgPJZxHisAAA==
      X-Li-Route-Key:
      - '"b=SB27:g=102:u=173:i=1557212974:t=1557235057:s=AQFDarb9DW6uYzK0Ezi4ZIRWgRw7i_Cj"'
    body:
      encoding: UTF-8
      string: '{"localizedLastName":"MT","lastName":{"localized":{"en_US":"MT"},"preferredLocale":{"country":"US","language":"en"}},"firstName":{"localized":{"en_US":"John"},"preferredLocale":{"country":"US","language":"en"}},"profilePicture":{"displayImage":"urn:li:digitalmediaAsset:C4E03AQFtCZHMSeq2cg"},"id":"test","localizedFirstName":"John"}'
  recorded_at: Tue, 07 May 2019 07:09:35 GMT
recorded_with: VCR 4.0.0
